* {
    box-sizing: border-box;
}
body {
    background-color: #333;
}
.section {
    margin: 100px auto;
    position: relative;
}
.section .image {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.section .image::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
    text-align: center;
    transform: translateY(60px);
    transition: 0.6s;
}
.section .image:hover::before {
    transform: translateY(-60px);
}
.section .image img {
    width: 100% ;
    transition: 0.6s;
    overflow: hidden;
}
.section .image img:hover {
    opacity: 0.2;
}
.section .text {
    position: absolute;
    bottom: -75px;
    left: 0;
    z-index: 0;
}
.section .text h2 {
    color: white;
    background-color: #2196f3;
    padding: 10px 15px;
    position: relative;
    
}
.section .text h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 0;
    height: calc(100% + 10px);
    background-color: white;
    z-index: -1;
    transition: 0.6s;
}
.section:hover .text h2::before {
    width: calc(100% + 5px);
}

