* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    margin: 100px auto;
    background-color: #eee;
    padding: 10px 20px;
    font-size: 40px;
    display: block;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
button:focus {
    outline: none;
}
button span {
    background-color: #333;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 240px;
    padding: 10px 15px;
    top: -60px;
    transition: 0.6s;
    opacity: 0;
}
button span::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: #333 transparent transparent transparent;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 20px;
    height: 20px;
    clip-path: polygon(0% 0% , 100% 0% , 50% 50%); */
}
button:hover {
    overflow: visible;
}
button:hover span {
    opacity: 1;
}
[data-position="bottom"] span {
    top: auto;
    bottom: -60px;
}
[data-position="bottom"] span::before {
    bottom: auto;
    top: -20px;
    border-color: transparent transparent #333 transparent;

}